
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.fa-chevron-up {
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 40px;
    color: rgb(255, 113, 243);
    border-radius: 48%;
    cursor: pointer;
    padding: 7px 10px;
    display: block;
}
.fa-chevron-up:hover {
    transition: 0.5s;
    background: #fad2e1;
    border-radius: 47%;
}
.hide {
    display: none;
}


 .logo {
     font-family: "Balsamiq Sans",sans-serif;
     font-size: 30px!important;
 }
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;    
 }
ul {
    list-style: none;
}

 li a {
     text-decoration: none;
 }
.bg-white {
    background: rgb(238, 236, 236);
}

#part-1 {
    /* background:linear-gradient(to right, #000D36 ,#004E87 , #02b5bb); */
    min-height: 80vh;
    background-image: url(img/wave-81840.jpg);
   
}


nav {
    background:linear-gradient(to right, #081123 , #37113F);
    color: white!important;
    width: 100%;
    height: 100px;
    transition: .5s;
    padding: 6px 80px;

}
.bgc {
    background: rgb(0, 0, 0,.7);
    padding: 8px 70px 
}
 
nav li a {
 font-size:18px;
}

nav li a:hover{
border-bottom: 2px solid #ffffff;
transition: 300ms;
}

.active {
    border-color: rgb(219, 41, 124)!important;
    color: rgb(197, 56, 122)!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black!important;
}
.heading {
  
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: #FCFCFD;
    letter-spacing: 2px;
    font-size: 50px;
}


.text {
    top: 20px;
    bottom: 0;
    margin: auto;
    justify-content: center;
    letter-spacing: 2px;
}
.heading-2 {
    color: rgb(144,145,152);
    color: #eb7dcf; 
    font-size: 30px
}

.heading-3 {
    color: rgb(162, 165, 175);
    font-size: 25px
}

.negative {
    margin-top: -97px!important;
}
/* -------- section-2 ---------- */



/* #part-2 {
    background: rgb(238, 235, 235);
}  */

.bg-1{
background-image: url(img/wave-3.png); 
background-position: center;
border-radius: 5px;
}

.head-2 {
    font-weight: 640;
  font-size: 50px;
  color: #b302c3;
 text-align: center;
 
}

.head-3 {
    color: #3F3F3F;
    margin: auto;
}

.text-2 {
background: #F8F8F9;
margin: auto;
justify-content: center;
letter-spacing: 1px;
}

.btn-1 {
    background-image: linear-gradient(to bottom right,#b43de7 , #f05ab4);
    color: rgb(245, 245, 245)!important;
    text-transform: uppercase;
    font-weight: 500!important;
    font-size: small!important;
}

.btn-1:hover {
    background-image: linear-gradient(to bottom right,#A41EDF , #FC4AB5);
    
    color: rgb(255, 255, 255)!important;
  
}

/* ---------section-3 -----part-3----- */
#part-3 .container {
     text-align: center;
}

.negative2 {
    margin-top: -150px!important;
}

.big-height {
    background: #F7F7F7;
    min-height: 105vh;
}

.who-p {
    width: 70%;
     margin: auto;
     font-weight: 500;
}

.bg-icon {
    background-image: url(img/box-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}


/* -------footer---secttion----- */
#foot {
    width: 100%;
    margin: auto;
    padding-bottom: 0;
    bottom: 0;
   
}
.footer li a {
    color:#a5a6ac ;
}

.footer p {
    color:#a5a6ac ;
}

.footer ul {
    color:#fefeff ;
}

.footer li a:hover {
    color:#c8c8c8 ;
    border-bottom: 1.5px solid #c8c8c8;
}

.heading-color {
    color: #FCFCFD;
}

#foot .row {
    width: 90%;
    margin: auto;
}


#foot p {
    color:#a5a6ac ;
}
.social {
    text-align: center;
    
}
.social li {
    display: inline-block;
}
.bottom-footer {
    background: rgba(37, 93, 206, 0.979);
    bottom: 0!important;
     margin: auto;
    width: 100%; 
}

/* ---------Why choose us------- */
.pink {
    color: #F56BF1;
   
}



/* ------------About us--------- */
.bg-img {
    position: relative;
}

.head-abt {
    font-size: 60px;
    color: rgb(245, 245, 245);
    text-transform:uppercase;
    z-index: 999;
    position: absolute;
}