 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;  
 }

#part-1 {
    background:linear-gradient(to right, #000D36 ,#004E87 , #00E2EB);
}

nav {
    /* background:linear-gradient(to right, #12B3c5 ,#525484 , #4B4B66);   */
    background:linear-gradient(to right, #00E2EB,#004E87 );
    color: white!important;
}
.heading {
  
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: #FCFCFD;
    letter-spacing: 2px;
    font-size: 50px;
}


.text {
    top: 20px;
    bottom: 0;
    margin: auto;
    justify-content: center;
    letter-spacing: 2px;
}
.heading-2 {
    color: rgb(144,145,152);
    color: #eb7dcf; 
    font-size: 30px
}

.heading-3 {
    color: rgb(162, 165, 175);
    font-size: 25px
}

/* -------- section-2 ---------- */


#part-2 {
    background: #F9F9F9;
}
.bg-1{
background-image: url(img/wave-3.png); 
background-position: center;
border-radius: 5px;
}

.head-2 {
  font-size: 50px;
  color: #DA3AC6
 text-align: center;
 -webkit-background-clip: text;
}

.head-3 {
    color: #3F3F3F;
   
    margin: auto;
}
.text-2 {
background: #F8F8F9;
margin: auto;
justify-content: center;
letter-spacing: 1px;
}

.btn-1 {
    background-image: linear-gradient(to bottom right,#A41EDF , #FC4AB5);
    color: white!important;
  

}

.tdi_70 {
    margin-top: -70px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}


